/********************* History Page *********************/

.history-main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .sidebar {
    
    width: 15rem;
    border-radius: 10px;
    height: 100vh;
    margin-left: 2rem;
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .months {
    display: flex;
    flex-direction: column;
  }

  .yrMonBtn {
      margin: 0.5rem 1rem;
      border: none;
      color: black;
  }

  .taskByDate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    margin-left: 2rem;
  }
  
  .dateDetails {
    text-align: center;
    background-color: bisque;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 2rem;
  }
  
  .eachDate {
    border-left: thick double red;
    box-shadow: 8px 6px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20rem;
    padding: 0.1rem 0.5rem;
  }

  .detailsDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    border-left: thick double #32a1ce;
    border-radius: 5px;
    box-shadow: 8px 6px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
    
  }





  .eachDetail ul {
    list-style: none;
    width: 25rem;
    border: 1px solid red;
    padding-right: 10px;
  }
  
  .eachDetail li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 20px 0;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
  }
  