.history-main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .sidebar {
    width: 15rem;
    border-radius: 10px;
    height: 100vh;
    margin-left: 2rem;
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #a75d4c;
  }

  .months {
    display: flex;
    flex-direction: column;
  }

  .yrMonBtn {
      font-family: "Quicksand", sans-serif;
      font-size: medium;
      font-weight: 600;
      margin: 0.5rem 1rem;
      border: none;
      color: #a75d4c;
      background-color: #eaeef1;
  }

  .yrMonBtn:hover {
    color: #703d32;
  }

  .taskByDate {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 10px;
    margin-left: 8rem;
  }
  
  .dateDetails {
    text-align: center;
    border-radius: 5px;
    padding: 1rem 1rem;
    margin: 2rem;
  }
  
  .eachDate {
    background-color: #d4c3b6;
    border-left: thick double red;
    box-shadow: 8px 6px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 23rem;
    padding: 0.1rem 0.5rem;
  }

  .detailsDescription {
    background-color: #c7af99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    border-left: thick double #32a1ce;
    border-radius: 5px;
    box-shadow: 8px 6px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
  }

  .pieChart {
    background-color: #c7af99;
    border-radius: 10px;
    box-shadow: 8px 6px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }


  /********************* Responsive *********************/
@media (max-width: 480px) {
  .navbar {
    margin: 1rem auto 3rem auto;
    flex-direction: column;
  }

  .history-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    height: auto;
    margin: 0 auto 3rem auto;
  }
  
  .taskByDate {
   margin: 0 auto;
   justify-content: space-evenly;
  }

  .dateDetails {
    margin: 1rem 0;
  }

  .eachDate {
    width: 16rem;
  }

  .eachDetails {
    width: 17.5rem;
  }
}

@media (min-width: 481px) and (max-width: 1023px) {
  .navbar {
    margin: 1rem auto 3rem auto;
  }

  .history-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    height: auto;
    margin: 0 auto 5rem auto;
  }
  
  .taskByDate {
   margin: 0 auto;
   justify-content: space-evenly;
  }

  .dateDetails {
    margin: 1rem 0;
  }

  .eachDate {
    width: 18rem;
  }

  .eachDetails {
    width: 19.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .navbar {
    margin: 1rem auto 3rem auto;
  }

  .history-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    height: auto;
    margin: 0 auto 5rem auto;
  }

  .taskByDate {
    justify-content: space-evenly;
    margin: 0 auto;
  }
}